@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

:root {
--main-color:  #dcefe7;
--keyboard-color: #b6e5d1;
--night-theme: rgb(57, 57, 98);
--keyboard-color-night-theme: rgb(136, 136, 187);

}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
	transition: .2s;
	font-size: 20px;
	line-height: 130%;
	background-color: var(--main-color);
	transition: 0.6s;
}
body.body--night-theme {
	background-color: var(--night-theme);
	color: var(--main-color);
	transition: 0.6s;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.night__theme {
	right: calc((100% - 1008px) / 2);
	top: 20px;
	position: fixed;
	color: var(--night-theme);
	cursor: pointer;

}
.night__theme.active {
	color: var(--main-color);
}

.text {
	font-family: inherit;
	font-size: 20px;
	line-height: 130%;
	max-width: 1008px;
	width: 100%;
	height: 160px;
	margin-bottom: 30px;
	border: none;
	outline: none;
	background-color: var(--keyboard-color);
	padding: 10px;
	resize: none;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	transition: 0.6s;
}

.text.night--theme {
	background-color: var(--keyboard-color-night-theme);
	box-shadow: 0 0 10px rgba(249, 248, 248, 0.5);
	transition: 0.6s;
	color: var(--main-color);
}

.keyboard {
	max-width: 1008px;
	width: 100%;
	background-color: var(--keyboard-color);
	box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
	user-select: none;
	transition: bottom .4s;
	padding: 5px;
	margin: 0 auto;
	margin-bottom: 30px;	
	border-radius: 2px;
	transition: 0.6s;
}

.keyboard.night--theme {
	background-color: var(--keyboard-color-night-theme);
	box-shadow: 0 0 45px rgba(249, 248, 248, 0.4);
	transition: 0.6s;
}

.keyboard--hidden {
	bottom: -100%;
}

.keyboard__keys {
	width: 100%;
}

.keyboard__row {
	display: flex;
}

.keyboard__key {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	width: 60px;
	height: 60px;
	display: flex;
	margin: 4px;
	align-items: center;
	justify-content: center;
	transition: .2s;
	cursor: pointer;
	border-radius: 5px;
	border: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.keyboard__key:hover {
background-color: rgb(238, 234, 234) ;
}

.keyboard__key:active {
background-color: rgba(0, 0, 0, 0.2);
color: white;
transform: scale(0.97);
box-shadow: inset;
}

.keyboard__key.active {
background-color: rgba(0, 0, 0, 0.2);
color: white;
transform: scale(0.97);
box-shadow: inset;
}

.backspace__key {
	width: 180px;
}

.tab__key {
	width: 80px;
}

.caps__key {
	width: 120px;
}

.enter__key {
	width: 140px;
}

.shift__key.shift__key--left {
	width: 175px;
}

.space__key {
	width: 445px;
}

span {
	display: block;	
	text-align: center;
}